QToolTip {
background-color: "#EDEDED";
border: 2px solid "#64D498";
border-radius: 4px;
padding: 2px;
color: "black";
}

QLabel {
font-family: "Helvetica";
font-size: 14px;
}

QLabel#wBlynkCursorLabel {
font-family: "Helvetica";
font-size: 24px;
}

QLabel#wScreenBreakLabel {
font-family: "Helvetica";
font-size: 24px;
}

QLabel#wBlueLightReducerLabel {
font-family: "Helvetica";
font-size: 24px;
}

QLabel#wAboutBlynkLabel {
font-family: "Helvetica";
font-size: 24px;
}

QLabel#wNotJustYourEyesLabel {
font-family: "Helvetica";
font-size: 24px;
}

QCheckBox {
font-family: "Helvetica";
font-size: 14px;
}

QCheckBox::indicator {
width: 16px;
height: 16px;
}

QCheckBox::indicator:unchecked {
image: url(:/icons/ico-unchecked.png);
}

QCheckBox::indicator:checked {
image: url(:/icons/ico-checked.png);
}

QRadioButton  {
font-family: "Helvetica";
font-size: 14px;
}

QPushButton  {
font-family: "Helvetica";
font-size: 14px;
}

QComboBox {
font-family: "Helvetica";
font-size: 14px;
}

QMenu  {
font-family: "Helvetica";
font-size: 14px;
}

QSlider#wBlueLightReducerSlider {
height: 32px;
border-radius: 16;
}

QSlider#wBlueLightReducerSlider::groove:horizontal {
border: 1px solid;
height: 32px;
border-radius: 16;
background-color: "white";
border-color: none;
}

QSlider#wBlueLightReducerSlider::handle:horizontal {
width: 188px;
height: 32px;
border-radius: 16;
background-color: "#5E5B5B";
}

QPushButton#wDoneButton {
border-radius: 16px;
background-color: "white";
border: 1px solid "black";
min-width: 196px;
min-height: 32px;
color: "black";
font-size: 16px
}

QPushButton#wDoneButton:pressed {
border-radius: 16px;
background-color: "#66D495";
border: 1px solid "black";
min-width: 196px;
min-height: 32px;
color: "black";
font-size: 16px
}

QPushButton#wAboutDoneButton {
border-radius: 16px;
background-color: "#66D495";
border: 1px solid "black";
min-width: 196px;
min-height: 32px;
color: "black";
font-size: 16px
}

QPushButton#wVisionAidOverseasButton {
border-radius: 16px;
background-color: "white";
border: 1px solid "black";
min-width: 196px;
min-height: 32px;
color: "black";
font-size: 16px
}

QPushButton#wVisionAidOverseasButton:pressed {
border-radius: 16px;
background-color: "#66D495";
border: 1px solid "black";
min-width: 196px;
min-height: 32px;
color: "black";
font-size: 16px
}
