QToolTip {
background-color: #FFF1E7;
border: 2px solid green;
border-radius: 4px;
padding: 2px;
color: #555555
}

QLabel {
font-family: "Segoe UI";
font-size: 14px;
}

QLabel#wBlynkCursorLabel {
font-family: "Segoe UI";
font-size: 28px;
}

QLabel#wScreenBreakLabel {
font-family: "Segoe UI";
font-size: 28px;
}

QLabel#wBlueLightReducerLabel {
font-family: "Segoe UI";
font-size: 28px;
}

QCheckBox {
font-family: "Segoe UI";
font-size: 14px;
}

QRadioButton  {
font-family: "Segoe UI";
font-size: 14px;
}

QPushButton  {
font-family: "Segoe UI";
font-size: 14px;
}

QComboBox {
font-family: "Segoe UI";
font-size: 14px;
}

QMenu  {
font-family: "Segoe UI";
font-size: 14px;
}

QSlider#wBlueLightReducerSlider {
height: 32px;
border-radius: 16;
}
QSlider#wBlueLightReducerSlider::groove:horizontal {
border: 1px solid;
height: 32px;
border-radius: 16;
background-color: "white";
border-color: none;
}
QSlider#wBlueLightReducerSlider::handle:horizontal {
width: 170px;
height: 32px;
border-radius: 16;
background-color: "#5E5B5B";
}
